# Project 2 - Moneyball

## The Question

We want to understand how efficient teams have been historically at spending money and getting wins in return. In the case of Moneyball, one would expect that Oakland was not much more efficient than other teams in their spending before 2000, were much more efficient (they made a movie about it after all) between 2000 and 2005, and by then other teams may have caught up. Your job in this project is to see how this is reflected in the data we have.

## Part 1: Wrangling

The data you need to answer these questions is in the Salaries and Teams tables of the database.

#### Problem 1

**Using an SQL query only** compute a relation containing the total payroll and winning percentage (number of wins / number of games * 100) for each team (that is, for each teamID and yearID combination). You should include other columns that will help when performing EDA later on (e.g., franchise ids, number of wins, number of games).

**Hint:** Take a good look at the [SQLite Documentation](https://www.sqlitetutorial.net/).

Include as a cell the SQL code you used to create this relation. As a markdown cell, describe how you dealt with any missing data in these two relations. Specifically, indicate if there is missing data in either table, and how the type of join you used determines how you dealt with this missing data. 

**You must display the head of the resulting data table in your notebook.  You should also display the results of one team over the time range to make sure your data is correct.**

**Hint:** For SQL you have to be mindful of integer vs. float division.  See the above tutorial on how to deal with this.

In [63]:
import sqlite3
import pandas

In [77]:

sql2014_file = './baseball-archive-sqlite-master/lahman2014.sqlite'
conn = sqlite3.connect(sql2014_file)

# salary_query = """SELECT teamID, yearID, W, G, CAST(W AS float)/CAST(G AS float)*100
# AS 'WinPercentage'
# FROM Teams
# INNER JOIN Salaries
# ON Teams.teamID = Salaries.teamID AND Teams.yearID = Salaries.yearID"""

# add columns to this query as needed for the subsequent EDA
salary_query = """
SELECT * FROM

(SELECT teamID, yearID, W, G, CAST(W AS float)/CAST(G AS float)*100 
AS 'WinPercentage'
FROM Teams) a
INNER JOIN
(SELECT sum(salary) AS total_payroll, yearID, teamID
FROM Salaries GROUP BY yearID) b

ON a.teamID = b.teamID AND a.yearID = b.yearID
"""

team_salaries = pandas.read_sql(salary_query, conn)
#team_salaries["WinPercentage"].corr(team_salaries['total_payroll'])

0.03748706907735965